Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-signed-bitwise,
  -bugprone-exception-escape,
  -bugprone-throwing-static-initialization,
  -performance-enum-size
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
